<!DOCTYPE html>
<!-- En startsida som förklarar vart användaren har kommit och listar några frågesporter som finns att göra (hitta på helt fritt, vi kommer ersätta detta med data från en riktig databas senare). Skriv ditt namn så man vet vem som gjort sajten! -->
<html lang="swe">
<head>
	<title> Home </title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link href="/static/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Sans:light|Lato:light|Lato|Josefin+Sans">
</head>
<body>


	<div class="container" id="content">
		


		<h1> Välkommen till jämställdhetsquizen </h1>
		<p> Vi tänker ofta att vi är väldigt bra på jämställdhet, kanske framförallt i Sverige.<br> Men hur bra är vi egentligen? </br>
			Nedan finns tre test med olika frågor om jämställdhet. Det är bara att testa -  Lycka till! </p>
			<div id="background_image"></div>
			<div class="list-group" align="center">
				<a href="#" class="list-group-item"> Quiz 1 </a>
				<a href="#" class="list-group-item"> Quiz 2 </a>
				<a href="#" class="list-group-item"> Quiz 3 </a>

			</div>
			<div class = "navbar navbar-default navbar-fixed-bottom">
				<div class="container">
					<p id="copy" class="pull-left"> &copy; 2016 Madelen Porserud <br> <a href="femaleleaderengineer.se"> www.femaleleaderengineer.se </a> </br> </p>
					<img src="/static/Logotype.png" class="pull-right">
					
				</div>
			</div>

		</div>

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="/static/js/bootstrap.min.js"></script>


	</body>
	</html>